body{
    background-color:rgb(206, 223, 205);
   
    
}
table{
    border: 1px groove black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td{
    border: 1px solid black;
}